# Application
APP_ENV=development

# InfluxDB
INFLUXDB_USER=admin
INFLUXDB_PASSWORD=password123
INFLUXDB_ORG=tepegoz
INFLUXDB_BUCKET=ids_data
INFLUXDB_TOKEN=my-super-secret-token

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
